body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #7b8585;
}

.counterApp {
    border: 2px solid black;
    width: 250px;
    height: 220px;
    justify-content: center;
    text-align: center;
    background-color: rgb(171, 154, 127);
}

.count {
    color: brown;
}

button {
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    margin: 10px;
}

button:hover {
    background-color: rgb(100, 100, 117);
}